<apex:page applyHtmlTag="false" docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" cache="false">
<script id="PaymentMCC-Both" type="text/template">
    <div class="ccPaymentOuterContainer">
        <div class="main_content_large_right_container">
            <div class="alert alert-error ccPayment-messagingSection-Error" style="display: none"></div>
            <form id="newCCForm" action="" class="newCCForm" forceSSL="true">
            <fieldset>
                <legend>New Credit Card</legend>
                <p>Enter your payment data below</p>
                <p>Card Type:</p>
                <p><select name="paymentType">
                <option value="Visa">Visa</option>
                <option value="MC">Master Card</option>
                <option value="Amex">American Express</option>
                <option value="Disc">Discover Card</option>
                </select></p>
                <p>Card Number:</p><p><input type="text" name="accountNumber"/></p>
                <p>Expiration:</p><p>M:<select name="expirationMonth">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                &nbsp;Y:<select name="expirationYear">
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select></p>
                {{#ifDisplay 'WLT.Enabled'}}
                    <div class="row actionButtons">
                        <label><span class="poLabel SavePayment fieldLabel">{{pageLabelMap 'MyWallet_SavePayment'}}</span>
                            <input type="checkbox" name="saveAsStoredPayment" id="saveAsStoredPayment" value="true" />
                        </label>
                    </div>
                    <div class="row displayName">
                        <label><span class="poLabel Name fieldLabel">{{pageLabelMap 'MyWallet_NameOpt'}}</span>
                            <input type="text" name="displayName" id="displayName" maxlength="50" />
                        </label>
                    </div>
                {{/ifDisplay}}
            </fieldset>
                <p class="two_buttons">
                    <div class="right">
                        <input type="button" class="button makeCCPayment" id="btnMakeCCPayment" data-id="newCCForm" value="{{pageLabelMap 'Payment_MakePayment'}}" />
                        <input type="hidden" name="accountType" value="cc"/>
                    </div>
                </p>
            </form>
        </div>
    </div>
</script>

<script>
    jQuery(function($) {
        CCRZ.models.PaymentsCCModel = CCRZ.CloudCrazeModel.extend();
        CCRZ.views.PaymentsCCView = CCRZ.CloudCrazeView.extend({
            viewName : "PaymentsCCView",
            managedSubView : true,
            templateDesktop : CCRZ.util.template("PaymentMCC-Both"),
            templatePhone : CCRZ.util.template("PaymentMCC-Both"),
            init : function(options){
                this.selector = options.selector;
                this.render();
                CCRZ.pubSub.trigger('action:paymentViewInit',this);
            },
            events: {
                "click .makeCCPayment" : "makeCCPayment"
            },
            validateInfo: function() {
                $("#newCCForm").validate({
                    invalidHandler: function(event, validator) {
                        CCRZ.handleValidationErrors(event, validator, 'ccPayment-messagingSection-Error', false);
                    },
                    rules: {
                        accountNumber : { required: true, minlength: 4 }
                    },
                    messages: {
                        accountNumber : { required : 'Card number is required', minlength: 'Card number is not valid' }
                    },
                    errorPlacement: function(error, element) {
                    }
                });
                return $("#newCCForm").valid();
            },
            renderDesktop : function(){
                this.setElement(this.selector);
                this.data={};
                this.$el.html(this.templateDesktop(this.data));
            },
            renderPhone : function(){
                this.setElement(this.selector);
                this.data={};
                this.$el.html(this.templatePhone(this.data));
            },
            makeCCPayment : function(event){
                var formData = form2js("newCCForm", '.', false, function(node) {}, false);
                if (this.validateInfo()) {
                    formData.accountType = 'mcc';
                    formData.accountNumber = formData.accountNumber.substring(formData.accountNumber.length - 4);
                    CCRZ.pubSub.trigger('action:processPayment', formData);
                }
            }
        });
        CCRZ.pubSub.trigger('action:paymentViewReady','mcc',function(options){
            CCRZ.payment = CCRZ.payment||{views:{}};
            CCRZ.payment.views.cc = new CCRZ.views.PaymentsCCView({
                model : new CCRZ.models.PaymentsCCModel(),
                selector : options.selector
            });
        });
    });
</script>
</apex:page>
